doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='UserInterface/img/favicon.ico')
    title Politics Mapper
    link(href='UserInterface/css/bootstrap.css', rel='stylesheet')
    link(href='UserInterface/css/stylish-portfolio.css', rel='stylesheet')
    link(href='UserInterface/font-awesome/css/font-awesome.min.css', rel='stylesheet')
  body
    a#menu-toggle.btn.btn-primary.btn-lg.toggle(href='#')
      i.fa.fa-bars
    #sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-default.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='/') Politics Mapper
        li
          a(href='#top') Home
        li
          a(href='#about') About
        li
          a(href='#services') Our Team
        li
          a(href='#blogs') Our Blogs
        li
          a(href='#something-else') Something Else?
    #top.header
      .vert-text
        .row
          .col-md-2.col-md-offset-4
            img(src='UserInterface/img/bbc-logo.png')
          .col-md-2
            img(src='UserInterface/img/ucl-logo-transparent-small.png')
        h1 Politics Mapper
        h3 They work for you
        .row
          .col-md-3
          .col-md-6
            form.input-group(action='/search', method='get')
              input#search-bar.form-control(type='text', name='q', placeholder='Search')
              .input-group-btn
                button#search-button.btn.btn-default(onclick='location.href=\'search\';', type='submit')
                  i.glyphicon.glyphicon-search
          .col-md-3
        h5
          em
            | Brought to you by University College London Engineering and BBC Research and Development
        h4 Scroll down for more info
    #about.intro
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h2 We Give The People the Power to Observe The People in Power
            p.lead
              | This site has been created to be used by journalists and researchers, as well as the general public, for finding out more about what is said in the Houses of Parliament because, after all, they work for you!
    #services.services
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 Our Team
            h5
              em [Second-year UCL Computer Science Students]
            hr
        .row
          .col-md-4.text-center
            .service-item
              i.service-icon.anuz
              h4 Anuz Adhikari
              p
                | Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!
          .col-md-4.text-center
            .service-item
              i.service-icon.reece
              h4 Reece Doyle
              p
                | A computer scientist with a taste for philosophy, psychology and physics. Interests lie in artificial intelligence, robotics, cryptography and cats.
          .col-md-4.text-center
            .service-item
              i.service-icon.esben
              h4 Esben Sørig
              p
                | Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.
    .callout
      .vert-text
        img(src='UserInterface/img/ucl-eng-logo-long-orange.png', width='60%')
    #blogs.portfolio
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 Our Blogs
            hr
        .row
          .col-md-10.col-md-offset-1.text-center
            .portfolio-item
              iframe(width='100%', height='275', src='http://politicsmapper.wordpress.com/', frameborder='0')
              h4 Team Blog
              hr
          .col-md-4.text-center
            .portfolio-item
              iframe(width='100%', height='275', src='http://anuzadhikari12.wordpress.com', frameborder='0')
              h4 Anuz's Blog
              hr
          .col-md-4.text-center
            .portfolio-item
              iframe(width='100%', height='275', src='http://reecedoylecomp2013.wordpress.com', frameborder='0')
              h4 Reece's Blog
              hr
          .col-md-4.text-center
            .portfolio-item
              iframe(width='100%', height='275', src='http://esbensorig.wordpress.com/', frameborder='0')
              h4 Esben's Blog
              hr
    #something-else.call-to-action
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h3 Looking for something else?
            a.btn.btn-lg.btn-primary(href='#') Categories
            a.btn.btn-lg.btn-success(href='#') Timeline
            a.btn.btn-lg.btn-info(href='#') Help
            a.btn.btn-lg.btn-warning(href='#') UCL Engineering
            a.btn.btn-lg.btn-danger(href='#') BBC Politics
          .col-md-8.col-md-offset-2.text-center
            hr
            script.
              document.write("Last Modified: " + document.lastModified);
    script(src='UserInterface/js/jquery-1.10.2.js')
    script(src='UserInterface/js/bootstrap.js')
    script.
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    script.
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    script.
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                        scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
