extends layout

block content
    h1.
        Results
    ul
        each hit, i in hits
            li 
                a(href='/similar/' + encodeURIComponent(hit._id))
                    b #{hit._source.date}
                p #{hit._source.content}